<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.personalsys.mapper.EmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ly.personalsys.entity.Employee">
        <id column="id" property="id" />
        <result column="dept_id" property="deptId" />
        <result column="job_id" property="jobId" />
        <result column="name" property="name" />
        <result column="card_id" property="cardId" />
        <result column="address" property="address" />
        <result column="phone" property="phone" />
        <result column="sex_id" property="sexId" />
        <result column="education_id" property="educationId" />
        <result column="createdate" property="createdate" />
        <result column="user_id" property="userId" />
    </resultMap>

    <select id="getEmpList" resultType="com.ly.personalsys.vo.EmployeeVo">

        SELECT emp.*,u.loginname loginname,u.email email,d.name deptname,j.name jobname,edu.name educationname
        FROM employee_inf emp,user_inf u,dept_inf d,job_inf j,education_inf edu
        WHERE emp.user_id = u.id
        AND emp.dept_id = d.id
        AND emp.job_id = j.id
        AND emp.education_id = edu.id
        <if test='content != null and content != ""'>

            AND( emp.name LIKE #{content}
              OR emp.address LIKE #{content}
              OR emp.phone LIKE #{content}
              OR emp.card_id LIKE #{content}
              OR u.loginname LIKE #{content}
            )

        </if>

    </select>

    <select id="getEmpById" resultType="com.ly.personalsys.vo.EmployeeVo">
        SELECT ei.*,ji.name jobname,di.name deptname,edu.name educationname
        FROM employee_inf ei,job_inf ji,dept_inf di,education_inf edu
        WHERE ei.job_id = ji.id
        AND   ei.dept_id = di.id
        AND   ei.education_id = edu.id
        AND   ei.id = #{empId}
        LIMIT 1
    </select>


    <insert id="insertEmpResultId" parameterType="com.ly.personalsys.entity.Employee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        employee_inf(dept_id,job_id,name,card_id,address,phone,sex_id,education_id,createdate,user_id)
        VALUES(#{deptId},#{jobId},#{name},#{cardId},#{address},#{phone},#{sexId},#{educationId},#{createdate},#{userId})
    </insert>


</mapper>
